@import '../../../vars.sass'

.social__item
  width: 100%
  margin: 5px 0

.social__link
  display: flex
  justify-content: center
  position: relative
  align-items: center
  padding: 15px
  width: 55px
  height: 55px
  font-size: 26px
  color: $context
  transition: all 0.4s ease
  border-radius: 5px

  &:hover
    color: rgba($orange, 0.7)

