@import '../../../vars.sass'

.social__item
  width: 100%
  margin: 5px 0

.social__link
  display: flex
  justify-content: center
  position: relative
  align-items: center
  padding: 15px
  width: 55px
  height: 55px
  font-size: 26px
  color: $context
  transition: all 0.4s ease
  border-radius: 5px

  &:hover,
  &:focus
    outline: none
    color: rgba($orange, 0.7)

@media (max-width: 1366px)
  .social__link
    width: 40px
    height: 40px
    font-size: 20px
    padding: 10px

@media (max-width: 849px)
  .social__link
    width: 50px
    height: 50px
    font-size: 25px
    padding: 10px
