@import '../../vars.sass';
.gallery
  position: relative
  background-color: rgba($main, 0.5)
  width: 100vw
  height: 100%
  padding: 80px 200px

.gallery__photo-list
  display: grid
  margin: 0
  padding: 0
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  grid-auto-rows: 34vh
  grid-gap: 10px
  position: relative
  width: 100%
  max-width: 100%
  min-height: 100%
  overflow-x: hidden
