@import '../../vars.sass';
.file-upload
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  overflow: hidden
  position: relative
  width: 50%
  max-width: 50%
  max-height: 100%
  padding: 30px
  margin: 10px
  background-color: rgba($main, 0.7)
  border-radius: 5px

.file-upload__preview
  display: flex
  justify-content: center
  position: relative
  width: 100%
  max-width: 100%
  height: 90%
  max-height: 100%
  border-radius: 5px
  border: 3px dashed $context
  background-color: transparent
  background-size: cover
  background-position: center
  cursor: pointer

.file-upload__input:focus + label,
.file-upload__input.file-upload__input--focus + label
  border: 3px solid rgba($orange, 0.7)

.file-upload__input:hover + label
  cursor: pointer

.file-upload__buttons-wrapper
  display: flex
  justify-content: space-around
  margin-top: 10px

.file-upload__background-decorator
  display: flex
  justify-content: space-around
  align-items: center
  grid-gap: 20px
  position: absolute
  font-size: 150px
  color: rgba($context, 0.7)
  opacity: 0
  top: 0
  left: 50%
  width: 50%
  height: 100%
  transform: translateX(-50%)
  transition: all 0.4s ease

  &:hover,
  &:focus
    opacity: 1

  &:after
    position: absolute
    display: block
    content: "Add image..."
    font-weight: bold
    text-transform: uppercase
    font-size: 24px
    top: 65%
    left: 50%
    transform: translateX(-50%)
    text-align: center

.file-upload__input:focus + label > .file-upload__background-decorator,
.file-upload__input.file-upload__input--focus + label > .file-upload__background-decorator
  opacity: 1

@media (max-width: 1700px)
  .file-upload__background-decorator
    font-size: 100px
    &:after
      font-size: 18px

@media (max-width: 1366px)
  .file-upload
    padding: 15px

@media (max-width: 849px)
  .file-upload
    width: 100%
    max-width: 100%
    height: 80vh
    min-height: 80vh
    padding: 10px
    margin: 5px 0

  .file-upload__background-decorator
    font-size: 80px
    opacity: 1

    &:after
      font-size: 12px
