@import '../../vars.sass';

.main-footer
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba($main, 0.5)
  color: #fff

  &__copyrights
    text-align: center
    font-weight: bold
