@import '../../vars.sass';
.close-icon
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  width: 100%
  margin: 0
  padding: 10px 20px
  font-size: 24px
  border: none
  background-color: transparent
  color: rgba($context, 0.7)
  cursor: pointer
  transition: all 0.4s ease

  &:hover
    color: rgba($danger, 0.7)

.close-icon__description
  margin: 0
  padding: 0
  margin-left: 10px
  text-transform: uppercase

@media (max-width: 1366px)
  .close-icon
    font-size: 28px

  .close-icon__description
    display: none
