@import '../../vars.sass';
.control-panel
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  position: absolute
  top: 80px
  bottom: 80px
  left: 10px
  width: 160px
  background-color: rgba($main, 0.4)
  border-radius: 5px

