@import '../../vars.sass';

.social
  position: fixed
  right: 0
  top: 50%
  transform: translateY(-50%)
  height: 50vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 20px
  z-index: 900

.social__list
  margin: 0
  padding: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  list-style: none
  color: $context
  background-color: rgba($main, 0.7)
  border-radius: 5px

  &::before
    display: block
    position: absolute
    top: -50px
    left: -20px
    content: ""
    width: 3px
    height: calc(100% + 123px)
    background-color: rgba($context, 0.7)

  &::after
    display: block
    position: absolute
    bottom: -20px
    left: -73px
    content: ""
    width: calc(100% + 120px)
    height: 3px
    background-color: rgba($context, 0.7)
