@import '../../vars.sass';

.main-header
  display: grid
  align-items: center
  width: 100vw
  padding: 0 20px
  background-color: rgba($main, 0.7)
  color: $context

@media (max-width: 1179px)
  .main-header
    justify-items: flex-end
